<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- Link Scripts -->
    <script src="/scripts/app.js" defer></script>
    <!-- Link Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">

</head>

<header>
    <div class="logo">
        <a href="/"></a><img src="/images/cp logo-2077.png">
        <h1>Reporting</h1>
    </div>
  </header>
<body>
    <div class="bar">
        <div id="top"></div>
        <div id="bottom"></div>
    </div>
    <nav class="navbar">
        <section class="navbar__location">
            <h1>Login</h1>
        </section>
        <section class="navbar__links">
            <a href="/"><i class="fas fa-home"></i></a>
            <% if (user) { %>
            <a href="/reports/new"><i class="fas fa-pencil-alt"></i></a>
            <a href="/users/<%= user.id %>"><i class="fas fa-user-circle"></i></a>
            <form action="/logout?_method=DELETE" method="POST"">
            <a href="#logout" onclick="this.parentNode.submit();"><i class="fas fa-sign-out-alt"></i></a>
            </form>
            <% } else { %>
                <a href="/login"><i class="fas fa-user-circle"></i></a></a>
            <% } %>     
        </section>   
    </nav>  
      
    <div class="design">
        <div id="navtop"></div>
        <div id="navbottom"></div>
    </div>   

    <main>
       <div class="login">
        <form action="/login" method="POST">
            <h2>Login</h2>
                     
            <div class="input-container">
              <i class="fa fa-envelope icon"></i>
              <input class="input-field" type="email" placeholder="Email" name="email" required>
            </div>
          
            <div class="input-container">
              <i class="fa fa-key icon"></i>
              <input class="input-field" type="password" placeholder="Password" name="password"required>
            </div>
          
            <button type="submit" class="btn">Login</button>
            <p>Not already a member? <a href="/register">Register Here</a></p>
          </form>
        </div> 
    </main>

</body>
</html>