<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- Link Scripts -->
    <script src="/scripts/app.js"></script>
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">

</head>

<header>
    
    <div class="logo" style="position: flex">
        <a href="#home"></a><img src="public/images/cp logo-2077.png">
    </div>

    <div class="bar"></div>
        <div id="top"></div>
        <div id="bottom"></div>

  </header>


<body>
    <h1>Register</h1>

      

    <div class="navbar">
        <a href="#post"><i class="fas fa-pencil-alt"></i></a>
        <a href="#home"><i class="fas fa-home"></i></a>
        <a href="#profile"><i class="fas fa-user-circle"></i></a>
        
      </div>  
      
    <div class="design">
        <div id="navtop"></div>
        <div id="navbottom"></div>
    </div>

    <main>
       <div class="register">
        <form action="/action_page.php">
            <h2>Register Form</h2>
            <div class="input-container">
              <i class="fa fa-user icon"></i>
              <input class="input-field" type="text" placeholder="Username" name="usrnm">
            </div>
          
            <div class="input-container">
              <i class="fa fa-envelope icon"></i>
              <input class="input-field" type="text" placeholder="Email" name="email">
            </div>
          
            <div class="input-container">
              <i class="fa fa-key icon"></i>
              <input class="input-field" type="password" placeholder="Password" name="psw">
            </div>
          
            <button type="submit" class="btn">Register</button>
          </form>
        </div> 
    </main>

</body>
</html>