<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- Link Scripts -->
    <script src="/scripts/app.js"></script>
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">

</head>

<header>
    
    <div class="logo" style="position: flex">
        <a href="#home"></a><img src="public/images/cp logo-2077.png">
    </div>

    <div class="bar"></div>
        <div id="top"></div>
        <div id="bottom"></div>

  </header>


<body>
    

    <div class="navbar">
        <a href="#message"><i class="fas fa-envelope"></i></a>
        <a href="#post"><i class="fas fa-pencil-alt"></i></a>
        <a href="#home"><i class="fas fa-home"></i></a>
        <a href="#profile"><i class="fas fa-user-circle"></i></a>
        
      </div>  
      
        <div class="design">
            <div id="navtop"></div>
            <div id="navbottom"></div>
        </div>

    <main>
    
        <aside class="sidebar">
            <h1>My Profile<span class="close"><i class="fa fa-times"></i></span></h1>
            <div class="user-pic">
                <img width="100" src="public/images/neon-1608315302167-8777.jpg" alt="">
            </div>
            <div class="user-info">
                <span class="username">Username</span>
                <span class="email">example@example.com</span>
            </div>
            <div class="side-nav">
                <h2>General</h2>
                <nav>
                    <ul>
                        <li class="active" onclick="show(0)">
                            <span><i class="fa fa-pen"></i></span></li>
                            <h3>Posts</h3>
                            
    
                        <li onclick="show(1)">
                            <span><i class="fa fa-comments"></i></span></li>
                                
                            <h3>Messages</h3>
                        <li onclick="show(2)">
                            <span><i class="fa fa-cog"></i></span></li>
                        <h3>Account Settings</h3>
                    </ul>
                </nav>
            </div>
            <div class="bt-nav">
                <ul>
    
                </ul>
            </div>
        </aside>
        
    
            
    
    </main>
</body>
</html>